Plays_xml/WordHoardText.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  
  <xs:simpleType name="prosodic_type">
    <xs:restriction base="xs:string">
      <xs:enumeration value="prose" />
      <xs:enumeration value="verse" />
    </xs:restriction>
  </xs:simpleType> 
  
  <xs:simpleType name="align_type">
    <xs:restriction base="xs:string">
      <xs:enumeration value="left" />
      <xs:enumeration value="center" />
      <xs:enumeration value="right" />
    </xs:restriction>
  </xs:simpleType> 
  
  <xs:simpleType name="title_type">
    <xs:restriction base="xs:string">
      <xs:maxLength value="50" />
     </xs:restriction>
  </xs:simpleType> 
  
  <xs:complexType name="wordHoardHeader_text_type">
    <xs:sequence>
      <xs:element minOccurs="0" name="pubDate" >
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="\d{4}(-\d{4})?" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="taggingData" type="taggingData_type" />                
    </xs:sequence>
    <xs:attribute name="corpus" type="xs:string" use="required" />
    <xs:attribute name="work" type="xs:string" use="required" />
    <xs:attribute name="prosodic" type="prosodic_type" use="optional" />
  </xs:complexType>
  
  <xs:complexType name="wordHoardHeader_div_type">
    <xs:sequence>
      <xs:element name="title" type="title_type" />
      <xs:element minOccurs="0" name="fullTitle" type="title_type" />
      <xs:element minOccurs="0" name="pathTag" type="xs:string" />
      <xs:element name="taggingData" type="taggingData_type" />                                   
    </xs:sequence>
    <xs:attribute name="prosodic" type="prosodic_type" use="optional" />
  </xs:complexType>
  
  <xs:complexType name="w_type">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="id" type="xs:string" use="required" />
        <xs:attribute name="lemma" type="xs:string" use="optional" />
        <xs:attribute name="pos" type="xs:string" use="optional" />
        <xs:attribute name="bensonGloss" type="xs:unsignedShort" use="optional" />
        <xs:attribute name="metricalShape" type="xs:string" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="rend_suppress_type">
        <xs:restriction base="xs:string">
          <xs:enumeration value="none" />
        </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="rend_stanza_indent_type">
        <xs:restriction base="xs:string">
          <xs:enumeration value="spenser-indentation" />
        </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="rend_speech_indent_type">
        <xs:restriction base="xs:string">
          <xs:enumeration value="none" />
          <xs:enumeration value="indent" />
        </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="rend_style_type">
        <xs:restriction base="xs:string">
          <xs:enumeration value="bold" />
          <xs:enumeration value="italic" />
          <xs:enumeration value="extended" />
          <xs:enumeration value="sperrtext" />
          <xs:enumeration value="underline" />
          <xs:enumeration value="overline" />
          <xs:enumeration value="macron" />
          <xs:enumeration value="superscript" />
          <xs:enumeration value="subscript" />
          <xs:enumeration value="monospaced" />
          <xs:enumeration value="normal" />
          <xs:enumeration value="roman" />
          <xs:enumeration value="plain" />
        </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="hi_line_type">
    <xs:sequence>
      <xs:choice maxOccurs="unbounded">
        <xs:element name="w" type="w_type"  minOccurs="0" maxOccurs="unbounded"/>                                                           
        <xs:element name="punc" type="xs:string"  minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="hi" type="hi_line_type"  minOccurs="0" maxOccurs="unbounded"/>        
        <xs:element name="title" type="title_type"  minOccurs="0" maxOccurs="unbounded"/>        
        <xs:element name="stage" type="xs:string"  minOccurs="0" maxOccurs="unbounded"/>        
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="rend" type="rend_style_type" use="required" />
  </xs:complexType>

  <xs:complexType name="hi_p_type" mixed="true">
    <xs:sequence>
      <xs:choice maxOccurs="unbounded">
         <xs:element name="hi" type="hi_p_type"  minOccurs="0" maxOccurs="unbounded"/>        
        <xs:element name="title" type="title_type"  minOccurs="0" maxOccurs="unbounded"/>        
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="rend" type="rend_style_type" use="required" />
  </xs:complexType>
  
  <xs:complexType name="wordHoardTaggedLine_type">
    <xs:sequence>
      <xs:choice maxOccurs="unbounded">
        <xs:element name="w" type="w_type"  minOccurs="0" maxOccurs="unbounded"/>                                                              
        <xs:element name="punc" type="xs:string"  minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="hi" type="hi_line_type"  minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="title" type="title_type"  minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="stage" type="xs:string"  minOccurs="0" maxOccurs="unbounded"/>
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="optional" />
    <xs:attribute name="n" type="xs:unsignedShort" use="optional" />
    <xs:attribute name="label" type="xs:string" use="optional" />
    <xs:attribute name="prosodic" type="prosodic_type" use="optional" />
    <xs:attribute name="rend" type="rend_style_type" use="optional" default="normal" />
    <xs:attribute name="align" type="align_type" use="optional" default="left" />
    <xs:attribute name="indent" type="xs:string" use="optional" />
  </xs:complexType>
 
  <xs:complexType name="p_type" mixed="true">
    <xs:sequence>
      <xs:choice maxOccurs="unbounded">
        <xs:element name="hi" type="hi_p_type"  minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="title" type="title_type"  minOccurs="0" maxOccurs="unbounded"/>
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="optional" />
    <xs:attribute name="n" type="xs:string" use="optional" />
    <xs:attribute name="label" type="xs:string" use="optional" />
    <xs:attribute name="rend" type="rend_style_type" use="optional" />
    <xs:attribute name="align" type="align_type" use="optional" default="left" />
    <xs:attribute name="indent" type="xs:string" use="optional" />
  </xs:complexType>
  
  <xs:complexType name="lg_type">
    <xs:sequence>
     <xs:choice maxOccurs="unbounded">
      <xs:element name="wordHoardTaggedLine" minOccurs="0" maxOccurs="unbounded" type="wordHoardTaggedLine_type" />                                                   
      <xs:element name="p" minOccurs="0" maxOccurs="unbounded" type="p_type" />
      <xs:element name="head" minOccurs="0" maxOccurs="unbounded" type="xs:string" />
      <xs:element name="stage" minOccurs="0" maxOccurs="unbounded" type="xs:string" />
      <xs:element name="lg" minOccurs="0" maxOccurs="unbounded" type="lg_type" /> 
    </xs:choice>
  </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="optional" />
    <xs:attribute name="type" use="optional" >
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="argument" />
          <xs:enumeration value="couplet" />
          <xs:enumeration value="mww-song" />
          <xs:enumeration value="poem" />
          <xs:enumeration value="refrain" />
          <xs:enumeration value="sestina" />
          <xs:enumeration value="song" />
          <xs:enumeration value="speech" />
          <xs:enumeration value="stanza" />
          <xs:enumeration value="triplet" />
          <xs:enumeration value="quatrain" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="n" type="xs:string" use="optional" />
    <xs:attribute name="rend" type="rend_stanza_indent_type" use="optional" />
    <xs:attribute name="align" type="align_type" use="optional" default="left" />
  </xs:complexType>
  
 
  <xs:complexType name="taggingData_type">
    <xs:sequence minOccurs="0">
      <xs:element name="lemma" minOccurs="0" nillable="true"/>
      <xs:element name="pos" minOccurs="0" nillable="true"/>
      <xs:element name="wordClass" minOccurs="0" nillable="true"/>
      <xs:element name="spelling" minOccurs="0" nillable="true"/>
      <xs:element name="speaker" minOccurs="0"  nillable="true"/>
      <xs:element name="gender" minOccurs="0" nillable="true"/>
      <xs:element name="mortality" minOccurs="0"  nillable="true"/>
      <xs:element name="prosodic" minOccurs="0" nillable="true"/>
      <xs:element name="metricalShape" minOccurs="0" nillable="true"/>
      <xs:element name="pubDates" minOccurs="0" nillable="true"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="role_type">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="id" type="xs:string" use="optional" />
        <xs:attribute name="gender" use="optional" >
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="male" />
              <xs:enumeration value="female" />
              <xs:enumeration value="uncertainMixedOrUnknown" />
            </xs:restriction>
          </xs:simpleType> 
        </xs:attribute>
        <xs:attribute name="mortality" use="optional" >
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="mortal" />
              <xs:enumeration value="immortalOrSupernatural" />
              <xs:enumeration value="unknownOrOther" />
            </xs:restriction>
          </xs:simpleType> 
        </xs:attribute>
        <xs:attribute name="originalName" type="xs:string" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  
  <xs:complexType name="sp_type">
    <xs:sequence>
      <xs:choice maxOccurs="unbounded">
        <xs:element name="speaker" type="xs:string"  minOccurs="0"/>
        <xs:element name="wordHoardTaggedLine" type="wordHoardTaggedLine_type"  minOccurs="0" maxOccurs="unbounded"/>      
        <xs:element name="p" type="p_type"  minOccurs="0" maxOccurs="unbounded"/>                                            
        <xs:element name="head" type="xs:string"  minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="stage" type="xs:string"  minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="lg" type="lg_type"  minOccurs="0" maxOccurs="unbounded"/>                                             
       </xs:choice>
    </xs:sequence>
    <xs:attribute name="who" type="xs:string" use="required" />
    <xs:attribute name="rend" type="rend_speech_indent_type" use="optional" />
  </xs:complexType>
  
  <xs:complexType name="castItem_type" mixed="true">
    <xs:sequence minOccurs="0">
      <xs:choice maxOccurs="unbounded">
         <xs:element name="role" type="role_type"  minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="roleDesc" type="xs:string"  minOccurs="0"/>
       </xs:choice>
    </xs:sequence>
    <xs:attribute name="type" type="xs:string" use="required" />
    <xs:attribute name="rend" type="rend_suppress_type" use="optional" />
  </xs:complexType>
  
  
  <xs:complexType name="castList_type">
    <xs:sequence>
      <xs:choice maxOccurs="unbounded">
        <xs:element name="castItem" minOccurs="0" maxOccurs="unbounded" type="castItem_type" />       
        <xs:element name="castGroup" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="title" type="xs:string" />
              <xs:element name="castItem" maxOccurs="unbounded" type="castItem_type" />               
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  
  
  <xs:complexType name="div_type">
    <xs:sequence>
      <xs:choice maxOccurs="unbounded">
        <xs:element name="wordHoardHeader" type="wordHoardHeader_div_type" />
        <xs:element name="lg" type="lg_type"  minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="sp" type="sp_type"  minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="wordHoardTaggedLine" type="wordHoardTaggedLine_type"  minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="p" type="p_type"  minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="div" type="div_type"  minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="head" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute name="id" type="xs:string" use="optional" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="stage" type="xs:string"  minOccurs="0" maxOccurs="unbounded"/>        
        <xs:element name="castList" type="castList_type"  maxOccurs="unbounded" minOccurs="0"/>
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required" />
    <xs:attribute name="type" use="optional" >
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="castList" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="numberingStyle"  use="optional" >
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="stanza" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="indent" type="xs:unsignedShort" use="optional" />
    <xs:attribute name="rend" type="rend_suppress_type" use="optional" />
    <xs:attribute name="n" type="xs:unsignedInt" use="optional" />
  </xs:complexType>


  <xs:complexType name="titleStmt_type">
    <xs:sequence>
      <xs:element name="title" type="title_type" maxOccurs="unbounded" />
      <xs:element name="shortTitle" type="title_type" minOccurs="0" />
      <xs:element name="author" type="xs:string"  maxOccurs="unbounded" />
      <xs:element maxOccurs="unbounded" name="respStmt" minOccurs="0" >
        <xs:complexType>
          <xs:sequence>
            <xs:element name="name" type="xs:string" />
            <xs:element name="resp" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  

  <xs:element name="WordHoardText">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="wordHoardHeader" type="wordHoardHeader_text_type" />        
        <xs:element name="teiHeader">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="fileDesc">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="titleStmt" type="titleStmt_type" />
                    <xs:element minOccurs="0" name="extent" type="xs:string" />
                    <xs:element name="publicationStmt" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="p" minOccurs="0" type="p_type" />                         
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="sourceDesc">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="bibl">
                            <xs:complexType>
                              <xs:all>
                                <xs:element name="titleStmt" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element maxOccurs="unbounded" name="p" minOccurs="0" type="p_type"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="extent" type="xs:string" minOccurs="0" />
                                <xs:element name="author" type="xs:string" minOccurs="0" />
                                <xs:element name="title" type="xs:string" minOccurs="0" />
                                <xs:element name="publisher" type="xs:string" minOccurs="0"/>
                                <xs:element name="pubPlace" type="xs:string" minOccurs="0"/>
                                <xs:element name="date" type="xs:string" minOccurs="0"/>
                                <xs:element name="publicationStmt" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element maxOccurs="unbounded" name="p" minOccurs="0" type="p_type"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="editionStmt" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element maxOccurs="unbounded" name="p" minOccurs="0" type="p_type"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:all>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="default" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="text">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="front">
                <xs:complexType mixed="true">
                  <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="div" minOccurs="0" type="div_type" />                    
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="body" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="div" type="div_type" />                     
                    <xs:element minOccurs="0" name="wordHoardTaggedLine" type="wordHoardTaggedLine_type" />                     
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="optional" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
